<div style="margin-left:35%">
    <form class="form-horizontal" method="post">
    <input type="hidden" name="userid" ng-model="user.userid" value="{{userid}}" />
    <input type="hidden" name="uuid" ng-model="user.uuid" value="{{uuid}}">

        <fieldset>
            <div class="control-group">
                <label class="control-label" for="password">New Password</label>
                <div class="controls">
                    <input type="password" ng-model="user.password" class="input-xlarge" name="password" id="password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="retypepwd">Retype Password</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" ng-model="user.retypepwd" name="retypepwd" id="retypepwd" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="resetPassword(user)">Save</button>
            </div>
        </fieldset>
    </form>
</div>